.button {
        background-color: whitesmoke;
        border: none;
        color: burlywood;
        padding: 15px;
        text-align: center;
        text-decoration:none;
        display: inline-block;
        font-size: extra;
        margin: 10px;
        cursor: pointer;
    }
    .login-box{ 
        background-color: rgb(255, 254, 251);
        border-radius: 4px;
        border: 3px solid black;
        padding: 30px;
    }
    body{
        background-color:aqua;
        justify-content:center;
        align-items: center;
        display:flex;
        height:100vh;
    }
    h1 {
        color:blueviolet;
        text-align: center;
    }